{% extends "base.html" %} {% load static %}

{% block content %}
<div class="bg-dark">
  <img
    style="opacity: 0.3"
    src="{% static 'about.jpg' %}"
    alt="res"
    srcset=""
  />
  <p class="text-white">
    hello jonogon Lorem, ipsum dolor sit amet consectetur adipisicing elit.
    Illum nam quasi ad placeat possimus iste, officia quos consequatur excepturi
    enim accusamus dicta maxime omnis sit. Voluptatum veniam odio hic velit
    error, optio officiis commodi facere qui obcaecati quibusdam aliquam. Nobis
    esse adipisci obcaecati quia tempore dignissimos, ad ratione possimus iure.
  </p>
</div>
{% endblock content %}
